@font-face {
  font-family: 'main-regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'main-bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'main-black';
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: 'hero-italic';
  src: url('../fonts/Merriweather/Merriweather-BlackItalic.ttf');
}
