@import url(fonts.css);
@import url(../lib/bootstrap-icons/font/bootstrap-icons.css);

:root {
  --primary: #000000;
  --invalid: #cccccc;
  --secondary: #ffffff;
  --modal-bg: #f7f8f9;
  --special: #0075ff;
  /* Auto create bt applying opacity to modal-bg & using  */
  --modal-unselected: ;
  --primary-opacity: ;
  --primary-more-opacity: ;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

.app-nav {
  background-color: var(--primary);
  color: var(--secondary);
  height: 3rem;
  position: relative;
}

.bg-img::after {
  content: '';
  background: url(../images/bg-img.jpg);
  background-size: cover;
  opacity: 0.1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.app-nav ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 40vw;
  min-width: 350px;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  height: 100%;
}

.app-nav li {
  display: flex;
  flex-direction: column;
}

a,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

.app-nav a,
.app-nav a:visited {
  color: var(--secondary);
  flex: 1;
  display: flex;
  align-items: center;
}

.app-nav a:active,
.app-nav a:hover {
  color: var(--secondary);
  opacity: 0.8;
}
